name: create-release
run-name: Creating and tagging a new release
on:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Only create debug artifact'
        required: false
        type: boolean
  workflow_call:
    inputs:
      debug:
        description: 'Only create debug artifact'
        required: false
        type: boolean

jobs:
  create-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check src/Plugin.cs and Thunderstore/manifest.json
        id: check
        shell: pwsh
        run: |
          $pluginPath = "src/Plugin.cs"
          $manifestPath = "Thunderstore/manifest.json"

          $pluginName = Select-String -Path $pluginPath -Pattern 'const\s+string\s+Name\s*=\s*"([\w\d]+)"'
          if (!$pluginName) { Write-Error -ErrorAction Stop -Message 'Could not find plugin name.' }
          $pluginName = $pluginName.Matches.Groups[1].Value

          $pluginVersion = Select-String -Path $pluginPath -Pattern 'const\s+string\s+Version\s*=\s*"([.\d\w-+]+)"'
          if (!$pluginVersion) { Write-Error -ErrorAction Stop -Message 'Could not find plugin version number.' }
          $pluginVersion = $pluginVersion.Matches.Groups[1].Value

          $manifestName = Select-String -Path $manifestPath -Pattern '"name"\s*:\s*"([\w\d]+)"'
          if (!$manifestName) { Write-Error -ErrorAction Stop -Message 'Could not find manifest name.' }
          $manifestName = $manifestName.Matches.Groups[1].Value

          $manifestVersion = Select-String -Path $manifestPath -Pattern '"version_number"\s*:\s*"([.\d\w-+]+)"'
          if (!$manifestVersion) { Write-Error -ErrorAction Stop -Message 'Could not find manifest version.' }
          $manifestVersion = $manifestVersion.Matches.Groups[1].Value

          if (($pluginName -ne $manifestName)) { Write-Error -ErrorAction Stop -Message "Name mismatch between manifest.json and Plugin.cs" }
          echo "Producing $pluginName--$pluginVersion"
          (Get-Content $manifestPath) -creplace '"version_number"\s*:\s*"([.\d\w-+]+)"', """version_number"": ""$pluginVersion""" | Set-Content $manifestPath

          echo "NAME=$($pluginName)" >> $env:GITHUB_OUTPUT
          echo "VERSION=$($pluginVersion)" >> $env:GITHUB_OUTPUT

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Build project
        id: build
        env:
          DEBUG: ${{ inputs.debug }}
        shell: pwsh
        run: |
          cd src
          $config = "Release"
          if ( $env:DEBUG -eq $true ) { $config = "Debug" }
          $output = dotnet build --configuration $config
          echo $output
          "$($output)" -match "Package prepared \s*'([^'\n\r\t]+)'"
          echo "PATH=$($matches[1])" >> $env:GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          path: ${{ steps.build.outputs.PATH }}
          name: ${{ steps.check.outputs.NAME }}--${{ steps.check.outputs.VERSION }}
    outputs:
      name: ${{ steps.check.outputs.NAME }}--${{ steps.check.outputs.VERSION }}
      version: ${{ steps.check.outputs.VERSION }}

  create-release:
    needs: create-artifact
    if: ${{ inputs.debug != true }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-artifact.outputs.name }}
          # [feat req] Keep artifact in ZIP format instead of extracting
          # https://github.com/actions/download-artifact/issues/143

      - name: zip
        run: zip -r ${{ needs.create-artifact.outputs.name }}.zip .

      - uses: ncipollo/release-action@v1
        with:
          artifacts: ${{ needs.create-artifact.outputs.name }}.zip
          tag: ${{ needs.create-artifact.outputs.version }}
          updateOnlyUnreleased: true
          generateReleaseNotes: true
